# Python virtual environment
env/
venv/
.venv/

# Environment variables
.env
.env.*

# Python cache files
__pycache__/
*.pyc

# Django stuff
db.sqlite3
media/
staticfiles/

# Node modules (if using React/MERN)
node_modules/

# OS files
.DS_Store
Thumbs.db
